/* comentario */
/* seletor{
        propriedade: valor;
        propriedade2: valor;
    }
*/

body{
    background-color: #d9fffe;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(46, 202, 46);
    height: 40px;
    padding: 20px;
}


footer{
    clear: both;
    text-align: center;
    background-color: rgb(46, 202, 46);
    height: 40px;
    padding: 20px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #111111;
    text-align: center;
    text-shadow: 1px 1px 1px #111111;
}

h5{
    font-size:xx-large;
    font-style: italic;
    margin: 0 500px;
    line-break: unset;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 15px;
    text-shadow: 1px 1px 1px #111111;
}

#principal{
    clear: both;
    min-height: 400px;
    padding: 100px 0 0 0;
}

#menu{
    align-content: center;
    margin-top: 10px;
}

.buttonFace{
    background-image: url("/Face.png");
    width: 50px;
    height: 50px;
}

.buttonLinkedin{
    width: 50px;
    height: 50px;
}

.buttonGithub{
    width: 50px;
    height: 50px;
}

.header{
    width: 960px;
    margin: auto;
}

.container{
    width: 960px;
    margin: auto;
}

.efeito{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 80px 0 80px 0;
}

